body {
  padding-top: 3.2em;
  padding-bottom: 3.2em;
  
	background-color: rgb(250,250,250);
  background-image: -webkit-linear-gradient(left, rgb(20,20,20) 1px, #3a4045 1px);
  background-image:    -moz-linear-gradient(left, rgb(20,20,20) 1px, #3a4045 1px);
  background-image:      -o-linear-gradient(left, rgb(20,20,20) 1px, #3a4045 1px);
  background-image:         linear-gradient(left, rgb(20,20,20) 1px, #3a4045 1px);
	
	background-position: 60em 0;
	background-repeat: no-repeat;
}

.header_wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.2em;
	color: white;
	background-color: rgb(20,20,20);
	z-index: 2;
}

.nav_title {
  font-size: 1.5em;
}

body > .site_wrap {
  margin: 0;
  padding: 0;
}

.api_wrap,
.intro_wrap {
  max-width: 86em;
  margin-left: 12em;
  margin-bottom: 3em;
}

.api_wrap > p,
.api_wrap > pre,
.api_wrap > ul,
.api_wrap > dl,
.api_wrap > ol,
.api_wrap > table,
.api_wrap > iframe {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.api_wrap > .tab > p,
.api_wrap > .tab > pre,
.api_wrap > .tab > ul,
.api_wrap > .tab > dl,
.api_wrap > .tab > ol,
.api_wrap > .tab > table,
.api_wrap > .tab > iframe {
  margin-left: 2.5em;
}

.api_menu_button {
	color: black;
	text-shadow: none;
	background: transparent;
}

.api_menu_button:hover {
	color: white;
	text-shadow: 0 1px rgba(255,255,255,0.3), 0 -1px rgba(0,0,0,0.5);
	position: relative;
}

.api_menu_button:hover:before {
	display: block;
	position: absolute;
	right: 1em;
	top: 0;
	content: '▶';
	font-size: 0.8em;
	height: 100%;
	text-align: right;
}

.message {
	padding: 0.8em;
	
	font-size: 0.9333em;
	
	color: #645a40;
	border: 1px solid #FCEEC1;
	
	-webkit-border-radius: 0.4em;
	   -moz-border-radius: 0.4em;
	     -o-border-radius: 0.4em;
	        border-radius: 0.4em;
	
	background-color: #FDF5D9;
}

.api_nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12em;
  padding: 3.2em 1.2em 1.2em;
  
  overflow: auto;
  
  background-color: #D8D6D5;
  border-right: 1px solid rgb(20,20,20);
}

.api_wrap,
.intro_wrap {
	padding-right: 0;
	padding-left: 2em;
	max-width: 120em;
	margin-right: 48em;
}

.api_wrap > p {
	width: 42em;
	margin-left: 2em;
}

.intro_wrap > .message,
.intro_wrap p {
	width: 44em;
	margin-left: 0;
}

.example_col {
	width: 42em;
	margin-right: -42em;
	left: 2em;
	
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	
	font-family: sans-serif;
	
	color: #444444;
	border-top: 1px dotted rgb(200,200,200);
	border-bottom: 1px dotted rgb(200,200,200);
	background-color: rgba(255,255,255,0.6);
}

/* .col examples */
.example_col .col > p {
	font-family: Georgia, serif;
	font-size: 0.9333em;
	line-height: 1.7143em;
}

.col_example_col p {
	font-family: Courier, monospace;
	font-size: 0.8em;
	color: rgb(120,120,120);
	background-color: rgb(220,220,220);
	padding-left: 0.3em;
}

.code_col {
	width: 100%;
	margin-right: -100%;
	left: 48em;
	margin-left: 0;
}

/* .button */

.api_menu_button {
	padding-left: 1.2em;
	padding-right: 1.2em;
	color: black;
	background: transparent;
	white-space: normal;
	height: auto;
}

.api_menu_button:hover {
	background: rgba(0,0,0,0.2);
}

.api_menu_button.active,
.api_menu_button.active:hover {
	color: black;
	background: rgba(0,0,0,0.2);
}

/* .thumb */

.widget_thumb {
	padding-top: 48px;
	width: 48px;
	
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	     -o-border-radius: 8px;
	        border-radius: 8px;
}

h1 {
	font-size: 1.3333em;
	line-height: 1.2em;
	margin-bottom: 0.6em;
}

/* .index */

.api_index {
	margin-left: -1.2em;
	margin-right: -1.2em;
  color: black;
  border-bottom: 1px solid #999999;
}

.api_index:last-child {
  border-bottom: 0;
}

.api_index > li > .menu_button:after {
	font-size: 0.5em;
	position: absolute;
	right: 0.75em;
	
	content: '▶';
}

.api_index > li > .menu_button.active:after {
	content: '▼';
}

.api_index > li > .menu_button:last-child:after {
	content: none;
}

/* Open and close subnav based on whether its content
   is active. */

.api_index > li > a ~ .index {
  display: none;
}

.api_index > li > a.active ~ .index {
  display: block;
}

.subapi_index > li > .menu_button {
  padding-left: 2.5em;
}

.app_example {
	/* An extra 2px to account for border. */
	width: 402px;
	height: 600px;
	border: 1px solid #666666;
}

.events_dl > dd {
	margin-bottom: 1.6667em;
}

.lib_button,
.lib_button:hover {
  background-position: 57% -251px;
  width: 26px;
  height: 26px;
  padding-top: 26px;
  line-height: 26px;
  color: #474747;
  text-align: center;
  background-color: transparent;
  background-image: url(/assets/buttons_toolbar-fb54a2911dd5dbe3219376a9068a2f88.png);
  border-radius: 0;
  border: 1px solid transparent;
  cursor: auto;
}