/* desert scheme ported from vim to google prettify */
pre,
code {}

pre {
/*  display: block;
  padding: 0.4167em;
  padding-left: 0.6667em;
  padding-right: 0.6667em;
  margin-top: 0.1667em;
  margin-bottom: 0.8333em;
  background-color: #333;
  box-shadow: inset 0 2px 16px rgba(0,0,0,0.8);*/
}

code {
/*  display: inline-block;
  padding-left: 0.4167em;
  padding-right: 0.4167em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
  color: rgb(20,30,40);
  border: 1px solid rgb(220,220,220);*/
}

pre code {
/*  padding: 0;
  color: inherit;
  background-color: transparent;
  box-shadow: none;
  border: 0;*/
}

.code_col {
	white-space: pre;
	white-space: pre-line;
}

.code_col span {
	font-size: 0.9333em;
	line-height: 1.7143em;
}

pre .nocode { background-color: none; color: #000 }
code .str { color: #A6CCF2 } /* string  - pink */
code .kwd { color: #f0e68c;  /* font-weight: bold*/ }
code .com { color: #87ceeb } /* comment - skyblue */
code .typ { color: #98fb98 } /* type    - lightgreen */
code .lit { color: #cd5c5c } /* literal - darkred */
code .pun { color: #A6CCF2 }    /* punctuation */
code .pln { color: #e3e6e8 }    /* plaintext */
code .tag { color: #ffa449; /*font-weight: bold*/ } /* html/xml tag    - lightyellow */
code .atn { color: #FFD65C; /*font-weight: bold*/ } /* attribute name  - khaki */
code .atv { color: #A6CCF2 } /* attribute value - pink */
code .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre { background-color: none }
  code .str, code .str { color: #060 }
  code .kwd, code .kwd { color: #006; font-weight: bold }
  code .com, code .com { color: #600; font-style: italic }
  code .typ, code .typ { color: #404; font-weight: bold }
  code .lit, code .lit { color: #044 }
  code .pun, code .pun { color: #440 }
  code .pln, code .pln { color: #000 }
  code .tag, code .tag { color: #006; font-weight: bold }
  code .atn, code .atn { color: #404 }
  code .atv, code .atv { color: #060 }
}