/* layout.css */

html {
	height: 100%;
}

body {
	min-height: 100%;
	position: relative;
	padding-top: 7em;
	padding-bottom: 20em;
	
	color: rgb(51,51,51);
	background-color: white;
}

body > .site_header {
	position: absolute;
	overflow: visible;
	top: 0;
}

body > .site_footer {
	position: absolute;
	overflow: visible;
	bottom: 0;
}

a.nostyle,
a.nostyle:hover {
	text-decoration: none;
}

.highlight {
	margin-bottom: 1em;
}