/* .wrap */

.site_wrap {
	width: 88%;
}

h3 {
	margin-top: 2.8571em;
}

.example_wrap {
	margin-bottom: 0.7143em;
}

.example_wrap > .site_wrap {
	padding-top: 0.7143em;
	padding-bottom: 0.7143em;
}

/* .col */

.doc_col {
	width: 65%;
	margin-right: -65%;
	left: 0;
}

.example {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	
	width: 33%;
	padding: 0.7143em;
	
	overflow: hidden;
	
	color: hsl(204,10%,90%);
	background-color: rgba(220,220,220,0.4);
}

.example a {
	color: white;
}